/* @font-face {
  font-family: 'Gotham-Book';
  src: url('gotham-book.eot');
  src: url('gotham-book.eot?#iefix') format('embedded-opentype'),
       url('gotham-book.woff') format('woff'),
       url('gotham-book.ttf') format('truetype'),
       url('gotham-book.svg#gotham-book') format('svg');
  font-weight: normal;
  font-style: normal;
} */

  
   /* active class  styling */
  
   .activeLink{
  background-color: #1B1B28;
  border-right: 3px solid red;
   }
   
   .activeLink .flex .box{
     color: blue;
   }
   .activeLink .flex .text{
    color:#FAFBFC;
  }