/* tabs tabs container css  */
.mainContainer{
    display: flex;
    margin-left: 60px;
    flex-direction: row;
  
    
  }
  .searchbar{
    padding: 5px;
    width: 300px;
    outline: none;
    color: grey;
    border: .5px solid rgb(214, 211, 211);
    border-radius: 3px;
  
  }
  .sidebarShow{
    width: 63px;
    transition: .3s ease-in-out;
    
  }.sidebarShow.active{
    width: 240px;
  
  }
  
  
   /* active class  styling */
  
   .activeLink{
  background-color: #0d0d0d;
  border-right: 3px solid red;
   }
   
   .activeLink .flex .box{
     color: blue;
   }
   .activeLink .flex .text{
    color:white;
  }