
  
   /* active class  styling */
  
   .activeLink{
  background-color: #1B1B28;
  border-right: 3px solid #F51C5E;

   }
   
  
   .activeLink .flex .text{
    color:#FAFBFC;
    font-weight: 600;
  }

